<h1>Hello, {{.Name}}</h1>
<h2>Ur Bio is {{.Bio}}</h2>

<!-- <script>
    const user = {
        "name": {{.Name}},
        "bio": {{.Bio}},
        "age": {{.Age}}
    };
    console.log(user);
</script> -->