<h1>Hello, {{.Name}}</h1>
<h2>Ur Bio is {{.Bio}}</h2>
<h2>Ur Address is {{.Address.Street}}, House number is {{.Address.HouseNum}}</h2>


{{if gt .Age 18}}
    <p>Welcome, {{.Name}}!</p>
{{else}}
    <p>Sorry u cannot enter; must be 18+</p>
{{end}}

<!-- <script>
    const user = {
        "name": {{.Name}},
        "bio": {{.Bio}},
        "age": {{.Age}}
    };
    console.log(user);
</script> -->