{{template "header" .}}
<h1>FAQ Page</h1>
<ul>
    {{range .}}
        {{template "QnA" .}}
    {{end}}
</ul>
{{template "footer" .}}

{{define "QnA"}}
<pre>
<li>
    <h2><b>{{.Question}}</b> {{.Answer}} </h2>
</li>
</pre>
{{end}}